<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>Admin Kezelőpanel</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/dashboard.js"></script>
    <div id="dashboard-modal" class="modal">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
    <div class="top-section">
        <span id="dashboard-title" style="color: var(--md-sys-color-on-surface)">Admin Kezelőpanel</span>
        <span id="logout" class="clickable" onclick="logout()">Kijelentkezés</span>
        <span id="return-home" class="clickable" onclick="redirectToHome()">Vissza a főoldalra</span>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
        </button>
    </div>
    <div class="panel-container">
        <div class="channel-panel panel-section">
            <span id="panel-title">Összes csatorna (<%= channels.length %>)</span>
            <span class="clickable bg" onclick="displayModal(ModalInteraction.NEW_CHANNEL)">Új csatorna létrehozása</span>
            <div class="panel-content">
                <% channels.forEach(channel => { %>
                    <div class="channel-item <%= channel.id %>">
                        <div class="channel-details">
                            <span id="channel-name"><%= channel.name %></span>
                            <span id="channel-description"><%= channel.description.length > 0 ? channel.description : '(Nincs leírás)' %></span>
                            <span id="channel-categories"><%= channel.categories.length > 0 ? 'Kategóriák:' : '(Nincsenek kategóriák)' %></span>
                            <% if(channel.categories.length > 0) { %>
                                <% channel.categories.forEach(category => {%>
                                    <span id="channel-category"><%= category.name %></span>
                                <% }) %>
                            <% } %>
                            <span id="channel-show-count">Hozzárendelt műsorok: <%= channel.shows.length > 0 ? channel.shows.length : 0 %></span>
                        </div>
                        <div class="channel-interactions">
                            <button id="edit-channel" onclick="">
                                <img id="edit-icon" src="images/edit.svg" alt="Csatorna szerkesztése">
                            </button>
                            <button id="delete-channel" onclick="">
                                <img id="delete-icon" src="images/delete.svg" alt="Csatorna törlése">
                            </button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="show-panel panel-section">
            <span id="panel-title">Összes műsor (<%= shows.length %>)</span>
            <span class="clickable bg" onclick="displayModal(ModalInteraction.NEW_SHOW)">Új műsor létrehozása</span>
        </div>
        <div class="actor-panel panel-section">
            <span id="panel-title">Összes szereplő (<%= actors.length %>)</span>
            <span class="clickable bg" onclick="displayModal(ModalInteraction.NEW_ACTOR)">Új szereplő létrehozása</span>
        </div>
        <div class="category-panel panel-section">
            <span id="panel-title">Összes kategória (<%= categories.length %>)</span>
            <span class="clickable bg" onclick="displayModal(ModalInteraction.NEW_CATEGORY)">Új kategória létrehozása</span>
        </div>
    </div>
</body>
</html>