<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/program-guide.css">
    <title>Műsorújság</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <span id="title" style="color: var(--md-sys-color-on-surface)">Műsorújság</span>
    <span id="return-home" class="clickable" onclick="redirectToHome()">Vissza a főoldalra</span>
    <button id="theme-toggle" onclick="toggleTheme()">
        <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
    </button>
    <div class="program-guide-container">
        <% if(channels.length > 0) { %>
            <div class="guide-title">
                <input id="guide-date" type="date" placeholder="Dátum kiválasztása" required>
                <label for="guide-date">napon aktuális műsorlista</label>
            </div>
            <div class="guide-wrapper">
                <div class="channel-pagination">
                    <button id="back-btn" onclick="">
                        <img id="arrow-icon" src="images/arrow_back.svg" alt="Előző csatornák listázása">
                    </button>
                    <span id="available-channels">Elérhető csatornák összesen: <%= channels.length %></span>
                    <button id="forward-btn" onclick="">
                        <img id="arrow-icon" src="images/arrow_forward.svg" alt="Következő csatornák listázása">
                    </button>
                </div>
                <div class="guide-content">
                    <% channels.forEach(channel => { %>
                        <div class="channel-guide" id="channel-guide-<%= channel.id %>">
                            <div class="channel-details">
                                <span id="channel-name"><%= channel.name %> - <%= channel.categories %></span>
                                <span id="channel-description"><%= channel.description %></span>
                            </div>
                            <div class="shows-container">
                                <% channel.shows.forEach(show => { %>
                                    <div class="show-details <%= show.id %> ">
                                        <span id="show-air-time"><%= `${show.air_begin_date} - ${show.air_end_date}` %></span>
                                        <div class="show-description">
                                            <span id="show-name"><%= show.title %></span>
                                            <span id="show-episode">(<%= show.episode %>)</span>
                                            <span id="show-actors">Szereplők: <%= show.actors %></span>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    <% })%>
                </div>
            </div>
        <% } else { %>
            <span id="no-channels">Nem találhatóak csatornák.</span>
        <% } %>
    </div>
</body>
</html>